{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dropins/dropins.css' %}">
{% endblock extra_css %}
{% block extra_script_before_body %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock extra_script_before_body %}
{% block content %}
    <div class="alert alert-success" role="alert" style="width: 75%; text-align: center; word-break: break-all; margin: auto; margin-top: 25px;">
        <h3 style="text-align: center;">Welcome{% if user.is_authenticated %} {{ user.username }}{% endif %}!</h3>
    </div>
    <div class="bg-light dropin-div">
        <h1 class="display-4">
            {% if upcoming_dropin %}
                {% if user.is_authenticated %}Your next drop-in{% else %}Next drop-in{% endif %}:
            {% else %}
                {% if user.is_authenticated %}Not rostered for upcoming drop-ins{% else %}No upcoming drop-ins{% endif %}
            {% endif %}
        </h1>
        {% if upcoming_dropin %}
            {% with upcoming_dropin|first as dropin %}
                <p class="lead">{{ dropin }}</p>
                <hr class="my-4">
                <p>
                    {% if user.is_authenticated %}
                        <b id="rostered-text-{{ dropin.id }}" style="color:green">You are rostered.</b>
                        <b id="paid-text-{{ dropin.id }}">{% if user_has_paid %}You have paid.{% else %}You have not paid.{% endif %}</b>
                    {% endif %}
                    Click the button below to view details{% if user.is_authenticated %} and sign up or withdraw{% endif %}
                </p>
                {% if user.is_authenticated %}
                    <div id="sign-up-as-goalie-div-{{ dropin.id }}"><p>Sign up as a goalie <input type="checkbox" id="sign-up-as-goalie-{{ dropin.id }}" /></p></div>
                {% endif %}
                <p class="lead button-row">
                    <a class="btn btn-primary btn-lg" href="{% url 'dropins:detail' dropin.id %}" role="button">Details</a>
                </p>
                {% if user.is_authenticated %}
                    {% csrf_token %}
                    <p class="lead button-row">
                        <a id="sign-up-toggle-{{ dropin.id }}" class="btn btn-primary btn-lg" role="button">
                            Withdraw
                        </a>
                    </p>
                    {% if not user_has_paid %}
                        <div id="payment-buttons-{{ dropin.id }}" class="payment-buttons">
                            <p class="lead button-row">
                                <a id="pay-paypal-{{ dropin.id }}" class="btn btn-primary btn-lg" role="button">I paid</a>
                            </p>
                            {% if user_has_credits %}
                                <p class="lead button-row">
                                    <a id="pay-credits-{{ dropin.id }}" class="btn btn-primary btn-lg" role="button">Pay with Credits</a>
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="container-fluid p-0" id="message-{{ dropin.id }}">
                        <div class="alert alert-dismissible" role="alert" id="message-div-{{ dropin.id }}">
                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" id="message-close-{{ dropin.id }}">
                                <span aria-hidden="true">X</span>
                            </button>
                            <strong id="message-text-{{ dropin.id }}"></strong>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% else %}
            {% if user.is_authenticated %}
                <hr class="my-4">
                <p>
                    You are not rostered for any drop-ins. If you have signed up for any drop-ins, they will appear in
                    the 'My Drop-Ins' tab if you become rostered.
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'dropins:upcoming-dropins' %}" role="button">Drop-In Sign Up</a>
                </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
{% block extra_script_after_body %}
    <script>
        var toggleSignUpURL = '{% url 'dropins:toggle-signup' %}'
        var payWithPayPalURL = '{% url 'dropins:pay-paypal' %}'
        var payWithCreditsURL = '{% url 'dropins:pay-credits' %}'
    </script>
    <script type="text/javascript" src="{% static 'dropins/dropins.js' %}"></script>
{% endblock extra_script_after_body %}