{% extends "base.html" %}
{% block title %} - Logout{% endblock title %}
{% block extra_script_before_body %}
  <script type="text/javascript">
    setTimeout(function() {window.location.href = "{% url 'dropins:index' %}";}, 3000);
  </script>
{% endblock extra_script_before_body %}
{% block content %}
  <br>
  <div class="alert alert-success" role="alert">
    <h2 style="text-align: center;">Logged out!</h2>
    <p style="text-align: center;">Redirecting to home page...</p>
  </div>
{% endblock content %}
