{% extends "base.html" %}
{% block title %} - User Profile{% endblock title %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="alert alert-success welcome-banner" role="alert">
        <h3 style="text-align: center;">Welcome{% if user.is_authenticated %} {{ user.username }}{% endif %}!</h3>
    </div>
    {% if user.is_authenticated and requester_has_access %}
        <p class="lead profile-title">Player Details:</p>
        <hr style="width: 75%;">
        <div class="profile-details-container">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label }}{% if field.label == "Skill level" %}
                        <small> ({{ field.help_text }})</small>{% endif %}: {{ field }}
                        {% for error in field.errors %}
                            <small class="text-danger">{{ error|escape }}</small>
                        {% endfor %}
                    </p>
                {% endfor %}
                <input class="btn btn-primary btn-lg" type="submit" value="Save">
            </form>
            <div class="messages-container">
                {% include 'messages.html' %}
            </div>
        </div>
    {% else %}
        <p class="lead profile-title">You don't have access to {% if user.is_superuser %}edit this profile here{% else %}this profile{% endif %}</p>
    {% endif %}
{% endblock content %}